<%- include layouts/header.ejs %>
<!-- Adam Casey & Vladimir Zhdanov- CSCI3308 - Lab10 -->

<p>
	Adam Casey and Vladimir Zhdanov
	April 4, 2018
	CSCI-3308

1.) IaaS is the better choice when you want to know about the specifications of the system your on.
PaaS would be best when don't need to be worried about the server or how much space/processing power your app may use. 
PaaS eliminates the headaches of deploying
an app by handling some of the more technical aspects of hosting it on a server. 

2.) Possibility of a data breach or malicious code being injected into a cloud server which makes 
it less secure than a local server. By having everything in cloud storage, there are many more possibilities
for things to go wrong if someone can gain access to the servers.

3.) One reason would be latency, if you are running an app or process that relies on real time data you want to be able to access that data more quickly.
An example would be using some type of video/photo editing software. For this, you'd want to have everything stored locally because that would be faster
to work with as opposed to relying on constant communication with a cloud server which would slow down the work flow of editing the media. Another example are
companies that conduct "flash trades" and require the ability to execute a trade within thousandths of a second. If they relied on cloud technology to execute those
trades they could potentially lose out on massive amounts of money with every transaction.
</p>

<%- include layouts/footer.ejs %>